In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Uber+Drives+2016.csv")

In [3]:
df

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
...,...,...,...,...,...,...,...
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [4]:
print(data.head(10))

NameError: name 'data' is not defined

In [5]:
print(df.head(10))

       START_DATE*        END_DATE* CATEGORY*           START*  \
0   1/1/2016 21:11   1/1/2016 21:17  Business      Fort Pierce
1    1/2/2016 1:25    1/2/2016 1:37  Business      Fort Pierce
2   1/2/2016 20:25   1/2/2016 20:38  Business      Fort Pierce
3   1/5/2016 17:31   1/5/2016 17:45  Business      Fort Pierce
4   1/6/2016 14:42   1/6/2016 15:49  Business      Fort Pierce
5   1/6/2016 17:15   1/6/2016 17:19  Business  West Palm Beach
6   1/6/2016 17:30   1/6/2016 17:35  Business  West Palm Beach
7   1/7/2016 13:27   1/7/2016 13:33  Business             Cary
8   1/10/2016 8:05   1/10/2016 8:25  Business             Cary
9  1/10/2016 12:17  1/10/2016 12:44  Business          Jamaica

             STOP*  MILES*         PURPOSE*
0      Fort Pierce     5.1   Meal/Entertain
1      Fort Pierce     5.0              NaN
2      Fort Pierce     4.8  Errand/Supplies
3      Fort Pierce     4.7          Meeting
4  West Palm Beach    63.7   Customer Visit
5  West Palm Beach     4.3   Meal/Entertain
6       Palm Beach     7.1          Meeting
7             Cary     0.8          Meeting
8      Morrisville     8.3          Meeting
9         New York    16.5   Customer Visit

In [6]:
print(data.info())

NameError: name 'data' is not defined

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156 entries, 0 to 1155
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   START_DATE*  1156 non-null   object
 1   END_DATE*    1155 non-null   object
 2   CATEGORY*    1155 non-null   object
 3   START*       1155 non-null   object
 4   STOP*        1155 non-null   object
 5   MILES*       1156 non-null   float64
 6   PURPOSE*     653 non-null    object
dtypes: float64(1), object(6)
memory usage: 63.3+ KB
None

In [8]:
print(data.describe())

NameError: name 'data' is not defined

In [9]:
print(df.describe())

             MILES*
count   1156.000000
mean      21.115398
std      359.299007
min        0.500000
25%        2.900000
50%        6.000000
75%       10.400000
max    12204.700000

In [10]:
print(df.null())

AttributeError: 'DataFrame' object has no attribute 'null'

In [11]:
print(df.isnull())

      START_DATE*  END_DATE*  CATEGORY*  START*  STOP*  MILES*  PURPOSE*
0           False      False      False   False  False   False     False
1           False      False      False   False  False   False      True
2           False      False      False   False  False   False     False
3           False      False      False   False  False   False     False
4           False      False      False   False  False   False     False
...           ...        ...        ...     ...    ...     ...       ...
1151        False      False      False   False  False   False     False
1152        False      False      False   False  False   False     False
1153        False      False      False   False  False   False     False
1154        False      False      False   False  False   False     False
1155        False       True       True    True   True   False      True

[1156 rows x 7 columns]

In [12]:
print(df.isnull().sum())

START_DATE*      0
END_DATE*        1
CATEGORY*        1
START*           1
STOP*            1
MILES*           0
PURPOSE*       503
dtype: int64

In [13]:
print(df.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
1151    False
1152    False
1153    False
1154    False
1155    False
Length: 1156, dtype: bool